h1{color: red;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid 4px;

}
h2{
    color: greenyellow;
    border-bottom: dotted 4px;
  
}


article{
    background-color: purple;

    p{
        font-family: Arial, Helvetica, sans-serif;
    color: lightblue;
    }
    &:hover{
        background-color: orange;
    }
}