$main-header-color: green;
h1{color: $main-header-color;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: solid 4px;

}
h2{
    color:$main-header-color;
    border-bottom: dotted 4px;
  
}


article{
    background-color: purple;

    p{
        font-family: Arial, Helvetica, sans-serif;
    color:$main-header-color;
    }
    &:hover{
        background-color: orange;
    }
}